<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title>Jimi's CRM</title>
	</head>
	<body>
		<header>
			<h1>You're using <%= @crm_app_name %></h1>

		</header>

		<div class="left">
			<nav>
			<ul>
				<li><a href="/contacts">View all contacts</a></li>
				<li><a href="/contacts/new">Add a contact</a></li>
				<li><a href="/contacts/:id/edit">Edit last viewed contact</a></li>
			</ul>
			</nav>
		</div>

		<div class="right">
			<%= yield %>
		</div>

		<footer>
			<h5>This website was made by Jimi Vyas. If you enjoy using it, please consider donating to jimipvyas+paypal@gmail.com
			</h5>	
		</footer>
	</body>
</html>