<h1>Create new Contact</h1>

<form action="/contacts" method="post">
<table>
	<tr>
		<td>First name: </td>
		<td><input type="text" name="first_name"></td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td><input type="text" name="last_name"></td>
	</tr>
	<tr>
		<td>Email: </td>
		<td><input type="text" name="email"></td>
	</tr>
	<tr>
		<td> Note: </td>
		<td><input type="text" name="note"></td>
	</tr>
	<tr>
		<td><input type="submit" name="submit"></td>
	</tr>
	</table>
</form>
